Options -Indexes
RewriteEngine On

<FilesMatch "\.(csv|env|ini|log|conf|sql)$">
  Require all denied
</FilesMatch>

RewriteRule ^logs/ - [F,L]
RewriteRule ^docs/ - [F,L]

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^/.]+)$ $1.php [L]

RewriteCond %{THE_REQUEST} \s/([^.]+)\.php [NC]
RewriteRule ^ %1 [R=301,L]