Options -Indexes
RewriteEngine On

# Oculta extensiones .php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)$ $1.php [L]

# Bloquear acceso directo a archivos internos
RewriteRule ^logs/ - [F,L]
RewriteRule ^paginas/ - [F,L]

# Proteger CSV
<FilesMatch "\.(csv)$">
  Require all denied
</FilesMatch>